# OS generated
.AppleDouble
.DS_Store

# IDEA generated
.idea

# Log files and temporary files
*.log
*.swp

# File configuration
docker-compose.yml
openssh.env
sshd_config
authorized_keys

# Exclude the important files
!config/*