# OS generated
.AppleDouble
.DS_Store

# IDEA generated
.idea

# Log files and temporary files
*.log
*.swp
*.pid

###############################

# App generated
sshd/data/logs
sshd/data/ssh_host_keys/ssh_host*
sshd/data/.bash_history
sshd/secrets/*.txt

# File configuration
docker-compose.yml
openssh.env
sshd_config
authorized_keys

# Exclude the important files
!config/*